html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  background-image: url("lolspace.jpg");
  background-size: cover;
  overflow: hidden;
  position: fixed;
}
h2 {
  color: white;
  padding-top: 45vh;
  text-align: center;
  text-shadow: 3px 3px black;
}
h2:hover {
  cursor: pointer;
}
img {
  height: 300px;
}
p {
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin: 0 auto;
  text-decoration: line-through;
  width: 65px;
}
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
